<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
	<div class="container-fluid px-xl-5 px-lg-4 px-md-3 px-sm-2 px-1">
		<a class="navbar-brand" ui-sref="home">
			<img src="/assets/images/icons/android-chrome-192x192.webp" height="40" width="40" alt="StarRupture Calculator Icon">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="production">
						<span class="fas fa-fw fa-chart-line"></span>
						Calculator
					</a>
				</li>
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="items">
						<i class="fas fa-fw fa-box-open"></i>
						Items
					</a>
				</li>
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="buildings">
						<i class="fas fa-fw fa-industry"></i>
						Buildings
					</a>
				</li>
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="schematics">
						<i class="fas fa-fw fa-flask"></i>
						Recipes
					</a>
				</li>
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="corporations">
						<i class="fas fa-fw fa-building"></i>
						Corporations
					</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" ui-sref="home">
						<span class="fas fa-fw fa-info-circle"></span>
						About
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid px-xl-5 px-lg-4 px-md-3 px-sm-2 px-1" style="margin-top: 60px;">
	<div ui-view></div>

	<hr>

	<footer class="footer mt-5 py-4">
		<div class="row">
			<div class="col-md-6">
				<h5>StarRupture Tools</h5>
				<p class="text-secondary">
					A production calculator and planning tool for StarRupture.<br>
					This is an unofficial fan-made tool and is not affiliated with Creepy Jar.
				</p>
			</div>
			<div class="col-md-3">
				<h6>Resources</h6>
				<ul class="list-unstyled">
					<li><a href="https://store.steampowered.com/app/1631270/_StarRupture/" target="_blank" class="text-secondary">StarRupture on Steam</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h6>Legal</h6>
				<ul class="list-unstyled">
					<li><a ui-sref="privacy-policy" class="text-secondary">Privacy Policy</a></li>
					<li><a ui-sref="terms-of-service" class="text-secondary">Terms of Service</a></li>
				</ul>
			</div>
		</div>
		<hr class="mt-4 mb-3">
		<div class="row">
			<div class="col-12 text-center text-secondary">
				<small>
					&copy; 2026 StarRupture Tools. Built with data extracted from StarRupture.<br>
					StarRupture is a trademark of Creepy Jar. All rights reserved.
				</small>
			</div>
		</div>
	</footer>
</div>

