<div class="row">
	<div class="col-md-4">
		<div class="card mb-3">
			<div class="card-body text-center">
				<div class="mb-3">
					<item-icon item="ctrl.schematic.className" size="128"></item-icon>
				</div>
				<h2 class="card-title">{{ctrl.schematic.name}}</h2>
				<p class="text-muted" ng-if="ctrl.schematic.description">{{ctrl.schematic.description}}</p>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card mb-3">
			<h2 class="card-header">Recipe Details</h2>
			<div class="card-body">
				<table class="table two-columns">
					<tbody>
						<tr>
							<td>Type</td>
							<td>{{ctrl.getSchematicType(ctrl.schematic.type)}}</td>
						</tr>
						<tr ng-if="ctrl.schematic.neededResources && ctrl.schematic.neededResources.length > 0">
							<td>
								Needed Resources:
							</td>
							<td>
								<span class="item-amount" ng-repeat="resource in ctrl.schematic.neededResources">
									{{resource.amount}}x
									<a ui-sref="item({item: ctrl.getItem(resource.item).slug})">
										<item-icon item="resource.item"></item-icon>
									</a>
								</span>
							</td>
						</tr>
						<tr ng-if="ctrl.schematic.outputItem">
							<td>
								Output Item:
							</td>
							<td>
								<span class="item-amount">
									{{ctrl.schematic.outputItem.amount}}x
									<a ui-sref="item({item: ctrl.getItem(ctrl.schematic.outputItem.item).slug})">
										<item-icon item="ctrl.schematic.outputItem.item"></item-icon>
									</a>
								</span>
							</td>
						</tr>
						<tr ng-if="ctrl.schematic.buildTime">
							<td>
								Build Time:
							</td>
							<td>
								{{ctrl.schematic.buildTime}}s
							</td>
						</tr>
						<tr ng-if="ctrl.corporationUnlocks && ctrl.corporationUnlocks.length > 0">
							<td>
								Unlock Requirements:
							</td>
							<td>
								<span ng-repeat="unlock in ctrl.corporationUnlocks track by (unlock.corporation.className + '-' + unlock.level)" class="d-inline-block mr-2 mb-1">
									<a ui-sref="corporation({item: unlock.corporation.slug})">
										<img ng-if="unlock.corporation.icon" ng-src="/assets/images/items/{{unlock.corporation.icon}}_64.webp" width="32" height="32" alt="{{unlock.corporation.name}}" tooltip title="{{unlock.corporation.name}}" onerror="this.style.display='none'">
										<span ng-if="!unlock.corporation.icon">{{unlock.corporation.name}}</span>
									</a>
									<small class="text-muted">Level {{unlock.level}}</small>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-12">
		<h3>
			Schematic dependency tree
			<span class="text-muted">(doubleclick on a node to open that schematic's page)</span>
		</h3>

		<div id="schematic-tree" class="visualization"></div>
	</div>
</div>
