<table class="table two-columns" ng-if="ctrl.building">
	<tbody>
		<tr ng-if="ctrl.canBeOverclocked">
			<td>Overclock</td>
			<td>
				{{ctrl.options.overclock}}%
				<input class="w-100" ng-model="ctrl.options.overclock" type="range" min="1" max="250" step="1">
			</td>
		</tr>
		<tr>
			<td>Power production</td>
			<td>{{ctrl.powerProduction|number}} MW</td>
		</tr>
		<tr>
			<td>Requires water</td>
			<td>
				{{ctrl.generator.waterToPowerRatio > 0 ? 'Yes' : 'No'}}
			</td>
		</tr>
		<!-- Power 类型特殊属性 -->
		<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.coolingCapacityUsing !== undefined">
			<td>Cooling Capacity</td>
			<td>{{ctrl.building.metadata._daData.coolingCapacityUsing}}</td>
		</tr>
		<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.aggroMax !== undefined">
			<td>Aggro Max</td>
			<td>{{ctrl.building.metadata._daData.aggroMax}}</td>
		</tr>
		<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.maxAggroDistance !== undefined">
			<td>Max Aggro Distance</td>
			<td>{{ctrl.building.metadata._daData.maxAggroDistance / 100 | number:1}} m</td>
		</tr>
	</tbody>
</table>
