<div class="row">
	<div class="col-md-6">
		<table class="table">
			<tbody>
				<!-- DA 文件属性 -->
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.craftingLoopDuration">
					<td>Crafting Loop Duration</td>
					<td>{{ctrl.building.metadata._daData.craftingLoopDuration}}s</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.logisticsType">
					<td>Logistics Type</td>
					<td>{{ctrl.building.metadata._daData.logisticsType}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.hasInputStorage !== undefined">
					<td>Has Input Storage</td>
					<td>{{ctrl.building.metadata._daData.hasInputStorage ? 'Yes' : 'No'}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata.inventorySize">
					<td>Output Inventory Size</td>
					<td>{{ctrl.building.metadata.inventorySize}} slots</td>
				</tr>
				<tr ng-if="ctrl.building.metadata.inputInventorySize">
					<td>Input Inventory Size</td>
					<td>{{ctrl.building.metadata.inputInventorySize}} slots</td>
				</tr>
				
				<!-- BP 文件属性 -->
				<tr ng-if="ctrl.building.metadata._bpData && ctrl.building.metadata._bpData.requestMultiplier">
					<td>Request Multiplier</td>
					<td>{{ctrl.building.metadata._bpData.requestMultiplier}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._bpData && ctrl.building.metadata._bpData.numOfBuildingStages">
					<td>Number of Building Stages</td>
					<td>{{ctrl.building.metadata._bpData.numOfBuildingStages}}</td>
				</tr>
				
				<!-- 计算出的属性 -->
				<tr ng-if="ctrl.building.metadata.manufacturingSpeed">
					<td>Manufacturing Speed</td>
					<td>x{{ctrl.building.metadata.manufacturingSpeed|number:2}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata.powerConsumption">
					<td ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.powerType && ctrl.building.metadata._daData.powerType.includes('Producer')">Power Production</td>
					<td ng-if="!ctrl.building.metadata._daData || !ctrl.building.metadata._daData.powerType || !ctrl.building.metadata._daData.powerType.includes('Producer')">Power Consumption</td>
					<td>{{ctrl.building.metadata.powerConsumption}} MW</td>
				</tr>
				
				<!-- Power 类型特殊属性 -->
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.coolingCapacityUsing !== undefined">
					<td>Cooling Capacity</td>
					<td>{{ctrl.building.metadata._daData.coolingCapacityUsing}}</td>
				</tr>
				
				<!-- Extraction 类型特殊属性 -->
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.logisticsSocketCount !== undefined && ctrl.building.metadata._daData.logisticsSocketCount > 0">
					<td>Logistics Sockets</td>
					<td>{{ctrl.building.metadata._daData.logisticsSocketCount}} ({{ctrl.building.metadata._daData.logisticsSocketTypes.join(', ')}})</td>
				</tr>
				
				<!-- 通用属性 -->
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.aggroMax !== undefined">
					<td>Aggro Max</td>
					<td>{{ctrl.building.metadata._daData.aggroMax}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.maxAggroDistance !== undefined">
					<td>Max Aggro Distance</td>
					<td>{{ctrl.building.metadata._daData.maxAggroDistance / 100 | number:1}} m</td>
				</tr>
				
				<!-- 防御参数 -->
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData">
					<td colspan="2"><strong>Defense Parameters</strong></td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.enemyDetectionRadius">
					<td>Enemy Detection Radius</td>
					<td>{{ctrl.building.metadata._daData.defenseData.enemyDetectionRadius / 100 | number:1}} m</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.baseDamage">
					<td>Base Damage</td>
					<td>{{ctrl.building.metadata._daData.defenseData.baseDamage}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.rateOfFire">
					<td>Rate of Fire</td>
					<td>{{ctrl.building.metadata._daData.defenseData.rateOfFire}}s per shot</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.accidentalPlayerDamage">
					<td>Accidental Player Damage</td>
					<td>{{ctrl.building.metadata._daData.defenseData.accidentalPlayerDamage}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.patrollingSpeed">
					<td>Patrolling Speed</td>
					<td>{{ctrl.building.metadata._daData.defenseData.patrollingSpeed}}°/s</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.rotationTowardsTargetSpeed">
					<td>Rotation Speed</td>
					<td>{{ctrl.building.metadata._daData.defenseData.rotationTowardsTargetSpeed}}°/s</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.allowAttackEnemyToTurretAngleInDeg">
					<td>Attack Angle</td>
					<td>±{{ctrl.building.metadata._daData.defenseData.allowAttackEnemyToTurretAngleInDeg}}°</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.maxUpAndDownTiltAngleInDeg">
					<td>Max Tilt Angle</td>
					<td>±{{ctrl.building.metadata._daData.defenseData.maxUpAndDownTiltAngleInDeg}}°</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.spreadInDeg !== undefined">
					<td>Spread</td>
					<td>{{ctrl.building.metadata._daData.defenseData.spreadInDeg}}°</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.ammoItem">
					<td>Ammo Type</td>
					<td>{{ctrl.building.metadata._daData.defenseData.ammoItem}}</td>
				</tr>
				<tr ng-if="ctrl.building.metadata._daData && ctrl.building.metadata._daData.defenseData && ctrl.building.metadata._daData.defenseData.canRequestAmmoFromDeliverySystem !== undefined">
					<td>Can Request Ammo</td>
					<td>{{ctrl.building.metadata._daData.defenseData.canRequestAmmoFromDeliverySystem ? 'Yes' : 'No'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table">
			<tbody>
				<!-- BD 文件属性 -->
				<tr ng-if="ctrl.building._bdData && ctrl.building._bdData.stabilityCost !== undefined && ctrl.building._bdData.stabilityCost !== null">
					<td>Stability Cost</td>
					<td>{{ctrl.building._bdData.stabilityCost}}</td>
				</tr>
				<tr ng-if="ctrl.building._bdData && ctrl.building._bdData.resourceRequirements && ctrl.building._bdData.resourceRequirements.length > 0">
					<td>Build Requirements</td>
					<td>
						<span ng-repeat="req in ctrl.building._bdData.resourceRequirements" class="d-inline-block mr-2">
							{{req.quantity}}x
							<a ng-if="req.item" ui-sref="item({item: ctrl.getItem(req.item).slug})">
								<item-icon item="req.item"></item-icon>
							</a>
						</span>
					</td>
				</tr>
				<tr ng-if="ctrl.building._bdData && ctrl.building._bdData.corporation">
					<td>Corporation</td>
					<td>
						<a ng-if="ctrl.corporation" ui-sref="corporation({item: ctrl.corporation.slug})">
							<img ng-if="ctrl.corporation.icon" ng-src="/assets/images/items/{{ctrl.corporation.icon}}_64.webp" width="32" height="32" alt="{{ctrl.corporation.name}}" tooltip title="{{ctrl.corporation.name}}" onerror="this.style.display='none'">
							<span ng-if="!ctrl.corporation.icon">{{ctrl.corporation.name}}</span>
						</a>
						<span ng-if="!ctrl.corporation">{{ctrl.building._bdData.corporation}}</span>
					</td>
				</tr>
				<tr ng-if="ctrl.corporationUnlocks && ctrl.corporationUnlocks.length > 0">
					<td>Unlock Requirements</td>
					<td>
						<span ng-repeat="unlock in ctrl.corporationUnlocks track by (unlock.corporation.className + '-' + unlock.level)" class="d-inline-block mr-2 mb-1">
							<a ui-sref="corporation({item: unlock.corporation.slug})">
								<img ng-if="unlock.corporation.icon" ng-src="/assets/images/items/{{unlock.corporation.icon}}_64.webp" width="32" height="32" alt="{{unlock.corporation.name}}" tooltip title="{{unlock.corporation.name}}" onerror="this.style.display='none'">
								<span ng-if="!unlock.corporation.icon">{{unlock.corporation.name}}</span>
							</a>
							<small class="text-muted">Level {{unlock.level}}</small>
						</span>
					</td>
				</tr>
				<tr ng-if="ctrl.building._bdData && ctrl.building._bdData.minPlacementDistance">
					<td>Min Placement Distance</td>
					<td>{{ctrl.building._bdData.minPlacementDistance}} m</td>
				</tr>
				<tr ng-if="ctrl.building._bdData && ctrl.building._bdData.maxPlacementDistance">
					<td>Max Placement Distance</td>
					<td>{{ctrl.building._bdData.maxPlacementDistance}} m</td>
				</tr>
				<tr ng-if="ctrl.building._bdData && ctrl.building._bdData.droneMaxPlacementDistance">
					<td>Drone Max Placement Distance</td>
					<td>{{ctrl.building._bdData.droneMaxPlacementDistance}} m</td>
				</tr>
				<tr ng-if="ctrl.building.size && (ctrl.building.size.width > 0 || ctrl.building.size.length > 0)">
					<td>Size</td>
					<td>{{ctrl.building.size.width / 100}}m x {{ctrl.building.size.length / 100}}m</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
