<div class="table-responsive">
	<table class="table recipe-table table-hover">
		<thead>
			<tr>
				<th>Recipe name</th>
				<th>Ingredients</th>
				<th>Products</th>
				<th>Build time</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="recipe in ctrl.recipes">
				<td>
					{{recipe.name}}
				</td>
				<td>
					<div ng-repeat="ingredient in recipe.ingredients" class="d-inline-block p-2">
						<span class="item-amount">
							{{ingredient.amount}}x
							<a ui-sref="item({item: ctrl.getItem(ingredient.item).slug})">
								<item-icon item="ingredient.item"></item-icon>
							</a>
							<br>
						</span>
						<span ng-if="recipe.inMachine && ctrl.getMachine(recipe)">{{ctrl.recipeResourcesPerMinute(ctrl.getMachine(recipe), recipe, ingredient.amount, ctrl.options.overclock)|number}}&nbsp;/&nbsp;m</span>
					</div>
				</td>
				<td>
					<div ng-repeat="product in recipe.products" class="d-inline-block p-2 font-weight-bold">
						<span class="item-amount">
							{{product.amount}}x
							<a ui-sref="item({item: ctrl.getItem(product.item).slug})">
								<item-icon item="product.item"></item-icon>
							</a>
							<br>
						</span>
						<span ng-if="recipe.inMachine && ctrl.getMachine(recipe)">{{ctrl.recipeResourcesPerMinute(ctrl.getMachine(recipe), recipe, product.amount, ctrl.options.overclock)|number}}&nbsp;/&nbsp;m</span>
					</div>
				</td>
				<td>
					{{recipe.time}}s
				</td>
			</tr>
		</tbody>
	</table>
</div>
